<!DOCTYPE html>
<html>

<head>

	<title>Web Chat</title>

	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="banner">
		<h1>Web Chat</h1>
	</header>


	<section class="section">

		<!-- These elements are displayed as white info cards in the middle of the screen -->
		<div class="connected">
			<div class="infoConnected">
				<h2>Crea tu usuario:</h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="yourName" placeholder="Tu nombre" /><br/>
					<input type="text" id="yourEmail" placeholder="Tu email" /><br/>
					<input type="submit" id="yourEnter" value="ENTRAR" />
				</form>
			</div>

		</div>

		<div class="personinside">

			<div class="infoInside">
				<h2>Chatea con <span class="nickname-chat"></span></h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="hisName" placeholder="Tu nombre" /><br/>
					<input type="text" id="hisEmail" placeholder="Tu email" /><br/>
					<input type="submit" id="hisEnter" value="CHAT" />
				</form>

			</div>

		</div>

		<div class="invite-textfield">

			<h2>No hay nadie en este chat.</h2>
			<h5>Envía esta url para invitar a un amigo</h5>

			<div class="link">
				<a title="Invite a friend" href="" id="link"></a>
			</div>

		</div>

		<div class="left">

			<div class="info">
				<h2><span class="nickname-left"></span> ha abandonado el chat.</h2>
				<h5>Invita a alguien enviando esta URL.</h5>
			</div>

		</div>

		<div class="toomanypeople">

			<h2>Ups!, no puedes entrar en el chat</h2>
			<h5>Ya hay dos personas en este chat. ¿Te gustaría crear un nuevo <a title="New Room" href="/create" id="room">chat room</a>?</h5>

		</div>

		<div class="nomessages">
			<div class="info">
				<h2>Estas chateando con <span class="nickname-chat"></span>.</h2>
				<h5>Envía un mensaje desde el formulario de abajo.</h5>
			</div>

		</div>

		<div class="chatscreen">

			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>

		</div>

	</section>

	<footer>

		<form id="chatform">

			<textarea id="message" placeholder="Escribe algo..."></textarea>
			<input type="submit" id="submit" value="ENVIAR"/>

		</form>

	</footer>

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/moment.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>

</body>

</html>