<!DOCTYPE html>
<html>

<head>
	<title>Web Chat</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>

<body>

	<header class="banner">
		<h1>Web Chat</h1>
	</header>

	<section>
		<div class="homesection">
			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Crea un chatroom</div>
					<div id="big">¡Adelante!</div>
				</div>
			</a>
		</div>
	</section>
</body>
</html>
